.header {
    background-image: url('../images/imgheader.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}
.container{
    max-width: 720px;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* box màu shadow  */
.box{
    justify-content: center;
    margin: 0 auto;
    height: 40px;
    background-color: #232853;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    align-content: center;
    text-align: center;
    display: flex;

}
/* CSS cho user-account-info */
.user-account-info {
  position: relative;
}

/* CSS cho dropdown-menu */
.dropdown-menu {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #232853;
  border-radius: 5px;
  padding: 10px;
  display: none;
}

/* CSS cho pull-right */
.pull-right {
  float: right;
}
.dropdown-box{
    position: fixed;
top: 50px;
right: 0;
margin-right: 10px;

}

.dropdown-header{
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0;
    border-bottom: 1px solid #fff;
    background-color: rgb(255, 255, 255);
}
.dropdown-custom-components-header{
    background-color: rgb(175, 175, 198);
}